{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/pta/edit.css') }}">
{% endblock %}

{% block body %}
	<div class="container py-4" data-pta-view="edit">
		{% include 'pta/encabezado/_edit_content.html.twig' %}
	</div>
{% endblock %}
