{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/pta/graficas.css') }}">
{% endblock %}

{% block body %}
	<div class="container py-4">
		{% include 'pta/encabezado/_graficas_content.html.twig' %}
	</div>
{% endblock %}
