{# templates/pta/encabezado/new_general.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/pta/new.css') }}">
{% endblock %}

{% block body %}
	<div class="container py-4">
		{% include 'pta/encabezado/_new_content.html.twig' with {
            usar_turbo: false,
            volver_path: path('app_encabezado_index')
        } %}
	</div>
{% endblock %}
