<form
    method="post"
    action="{{ path('app_personal_delete', {'id': personal.id}) }}"
    onsubmit="return confirm('¿Seguro que deseas eliminar este registro?');"
>
    <input
        type="hidden"
        name="_token"
        value="{{ csrf_token('delete' ~ personal.id) }}"
    >

    <button
        type="submit"
        class="personal-edit-module__delete-button"
        title="Eliminar"
    ></button>
</form>
