{% extends 'base.html.twig' %}

{% block title %}New Encabezado{% endblock %}

{% block body %}
    <h1>Create new Encabezado</h1>

    {{ include('encabezado/_form.html.twig') }}

    <a href="{{ path('app_encabezado_index') }}">back to list</a>
{% endblock %}
