<turbo-frame id="content">

    <h1>Create new Departamento</h1>

    {{ include('admin/departamento/_form.html.twig') }}

    <a href="{{ path('app_departamento_index') }}">back to list</a>
</turbo-frame>
