<turbo-frame id="content">
    <section class="departamento-module">
        <section class="departamento-show-module">

            <header class="departamento-show-module__header">

                <div class="departamento-show-module__header-left">
                    <a
                        href="{{ path('app_departamento_index') }}"
                        class="departamento-show-module__action departamento-show-module__action--back"
                        title="Volver a la lista"
                    >
                        <i class="bi bi-arrow-left"></i>
                    </a>
                </div>

                <h1 class="departamento-show-module__title">
                    Información del departamento
                </h1>

                <div class="departamento-show-module__header-right">

                    <a
                        href="{{ path('app_departamento_edit', {'id': departamento.id}) }}"
                        class="departamento-show-module__action departamento-show-module__action--edit"
                        title="Editar"
                    >
                        <i class="bi bi-pencil-fill"></i>
                    </a>

                    <div
                        class="departamento-show-module__action departamento-show-module__action--delete"
                        title="Eliminar"
                    >
                        {{ include('admin/departamento/_delete_form.html.twig') }}
                    </div>

                </div>

            </header>

            <div class="departamento-show-module__detail-wrapper">
                <table class="departamento-show-module__detail-table">
                    <tbody>

                        <tr>
                            <th class="departamento-show-module__detail-label">Nombre</th>
                            <td class="departamento-show-module__detail-value">
                                {{ departamento.nombre }}
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </section>
    </section>
</turbo-frame>
