<form
    method="post"
    action="{{ path('app_puesto_delete', {'id': puesto.id}) }}"
    onsubmit="return confirm('¿Seguro que deseas eliminar este registro?');"
>
    <input
        type="hidden"
        name="_token"
        value="{{ csrf_token('delete' ~ puesto.id) }}"
    >

    <button
        type="submit"
        class="puesto-show-module__delete-button"
        title="Eliminar"
    ></button>
</form>
